In [1]:
import geopandas as gpd
import pandas as pd
import keplergl

In [2]:
# centro de poblaci√≥n
centro_pobl = gpd.read_file('capas/centro_poblacion.gpkg')
centro_pobl  = centro_pobl.to_crs({'init': 'epsg:4326'})
centro_pobl.head()

   DEPTO                     geometry
0      1  POINT (-56.17403 -34.86347)
1      2  POINT (-56.81555 -30.40706)
2      3  POINT (-56.04615 -34.70481)
3      4  POINT (-54.04713 -32.41253)
4      5  POINT (-57.74211 -34.23199)

In [3]:
data = pd.read_csv('tablas/datos_diadas_2011.csv')
cols = ['depto_origen', 'depto_destino', 'personas_mig']
data = data[cols]
data.head()

   depto_origen  depto_destino  personas_mig
0             1              2           914
1             3              2            74
2             4              2            15
3             5              2            28
4             6              2            32

In [4]:
centro_pobl['x'] = centro_pobl.geometry.x
centro_pobl['y'] = centro_pobl.geometry.y
centro_pobl.head()

   DEPTO                     geometry          x          y
0      1  POINT (-56.17403 -34.86347) -56.174030 -34.863473
1      2  POINT (-56.81555 -30.40706) -56.815547 -30.407062
2      3  POINT (-56.04615 -34.70481) -56.046153 -34.704806
3      4  POINT (-54.04713 -32.41253) -54.047130 -32.412531
4      5  POINT (-57.74211 -34.23199) -57.742109 -34.231989

In [16]:
data1 = data.merge(centro_pobl, left_on='depto_origen', right_on='DEPTO')
data2 = data1.merge(centro_pobl, left_on='depto_destino', right_on='DEPTO')

dict_rename={'x_x':'lon_ori','y_x':'lat_ori','x_y':'lon_des','y_y':'lat_des'}
data2.rename(columns=dict_rename, inplace=True)

cols = ['depto_origen', 'depto_destino', 'personas_mig',
        'lon_ori', 'lat_ori', 'lon_des', 'lat_des']

data_depu = data2.loc[:, cols]

data_depu.head()

,depto_origen,depto_destino,personas_mig,lon_ori,lat_ori,lon_des,lat_des
0,1,2,914,-56.174030,-34.863473,-56.815547,-30.407062
1,3,2,74,-56.046153,-34.704806,-56.815547,-30.407062
2,4,2,15,-54.047130,-32.412531,-56.815547,-30.407062
3,5,2,28,-57.742109,-34.231989,-56.815547,-30.407062
4,6,2,32,-56.270983,-33.291036,-56.815547,-30.407062

In [17]:
config = {
  "version": "v1",
  "config": {
    "visState": {
      "filters": [],
      "layers": [
        {
          "id": "rvymky2",
          "type": "arc",
          "config": {
            "dataId": "migraciones",
            "label": "mig. recientes",
            "color": [
              221,
              178,
              124
            ],
            "columns": {
              "lat0": "lat_ori",
              "lng0": "lon_ori",
              "lat1": "lat_des",
              "lng1": "lon_des"
            },
            "isVisible": True,
            "visConfig": {
              "opacity": 0.8,
              "thickness": 2,
              "colorRange": {
                "name": "Global Warming",
                "type": "sequential",
                "category": "Uber",
                "colors": [
                  "#5A1846",
                  "#900C3F",
                  "#C70039",
                  "#E3611C",
                  "#F1920E",
                  "#FFC300"
                ]
              },
              "sizeRange": [
                0,
                10
              ],
              "targetColor": [
                30,
                150,
                190
              ]
            },
            "hidden": False,
            "textLabel": [
              {
                "field": 'personas_mig',
                "size": 18,
                "anchor": "start",
                "alignment": "center"
              }
            ]
          },
          "visualChannels": {
            "colorField": None,
            "colorScale": "quantile",
            "sizeField": {
              "name": "personas_mig",
              "type": "integer"
            },
            "sizeScale": "sqrt"
          }
        }
      ],
      "interactionConfig": {
        "tooltip": {
          "fieldsToShow": {
            "migraciones": [
              "personas_mig"
            ]
          },
          "enabled": True
        },
        "brush": {
          "size": 0.5,
          "enabled": False
        },
      "layerBlending": "normal",
      "splitMaps": [],
      "animationConfig": {
        "currentTime": None,
        "speed": 1
      }
    },
    "mapState": {
      "bearing": 0,
      "dragRotate": False,
      "latitude": -32.5,
      "longitude": -58.54,
      "pitch": 0,
      "zoom": 5.8,
      "isSplit": False
    },
      "mapStyles": {}
    }
  }
}


kepler_map = keplergl.KeplerGl(height=500, config=config)

kepler_map.add_data(data=data_depu, name='migraciones')

kepler_map

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

KeplerGl(config={'version': 'v1', 'config': {'visState': {'filters': [], 'layers': [{'id': 'rvymky2', 'type': ‚Ä¶

In [8]:
kepler_map.save_to_html(file_name='kepler_map.html')

Map saved to kepler_map.html!